<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> My First Flask App </title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'activity3style.css') }}">
</head>
<body>
    <header>
        <h1 style="text-align: center;"> My Flask Application </h1>
    </header>

    <main>
        <p style="text-align: center;"> Hello! My name is Amir and this is my first time using Flask! </p>
        <div class="image1">
        <img src="{{ url_for('static', filename = 'smile.png') }}">
        </div>
        <p> Thank you for checking out my website!</p>
    </main>

    <footer>
        <p style="text-align: center;"> <i>&copy;&nbsp;<span id="copyright">2025-<script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script> </span> Amir's Flask App </p>
    </footer>
</body>
</html>

